@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap);





body {
  font-family: Lato;
}
.display-1 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4rem;
}
.display-2 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-5 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.76rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  padding: 20px 20px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #274abb !important;
}
.bg-success {
  background-color: #7242d6 !important;
}
.bg-info {
  background-color: #48d678 !important;
}
.bg-warning {
  background-color: #d63d3d !important;
}
.bg-danger {
  background-color: #656565 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #274abb !important;
  border-color: #274abb !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #1a317c !important;
  border-color: #1a317c !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1a317c !important;
  border-color: #1a317c !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #25c4ca !important;
  border-color: #25c4ca !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #198589 !important;
  border-color: #198589 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #198589 !important;
  border-color: #198589 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #48d678 !important;
  border-color: #48d678 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #7242d6 !important;
  border-color: #7242d6 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #4f24a7 !important;
  border-color: #4f24a7 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #4f24a7 !important;
  border-color: #4f24a7 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #d63d3d !important;
  border-color: #d63d3d !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #a42323 !important;
  border-color: #a42323 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a42323 !important;
  border-color: #a42323 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #656565 !important;
  border-color: #656565 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #3f3f3f !important;
  border-color: #3f3f3f !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #3f3f3f !important;
  border-color: #3f3f3f !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #152967;
  color: #152967;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #274abb;
  border-color: #274abb;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #274abb !important;
  border-color: #274abb !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #157074;
  color: #157074;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #25c4ca;
  border-color: #25c4ca;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #25c4ca !important;
  border-color: #25c4ca !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #229649;
  color: #229649;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #48d678;
  border-color: #48d678;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #48d678 !important;
  border-color: #48d678 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #452092;
  color: #452092;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #7242d6;
  border-color: #7242d6;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #7242d6 !important;
  border-color: #7242d6 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8f1e1e;
  color: #8f1e1e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #d63d3d;
  border-color: #d63d3d;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #d63d3d !important;
  border-color: #d63d3d !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #323232;
  color: #323232;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #656565;
  border-color: #656565;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #656565 !important;
  border-color: #656565 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #274abb !important;
}
.text-secondary {
  color: #25c4ca !important;
}
.text-success {
  color: #7242d6 !important;
}
.text-info {
  color: #48d678 !important;
}
.text-warning {
  color: #d63d3d !important;
}
.text-danger {
  color: #656565 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #152967 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #157074 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #452092 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #229649 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8f1e1e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #323232 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #48d678;
}
.alert-warning {
  background-color: #d63d3d;
}
.alert-danger {
  background-color: #656565;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #274abb;
  border-color: #274abb;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #274abb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #7e96e4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #efeafa;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #effbf3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fae5e5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #a5a5a5;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.76rem;
}
blockquote {
  border-color: #274abb;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.btn-primary-outline-2 {
  border: none;
  color: #274abb;
}
.btn-primary-outline-2 .mbr-iconfont-btn {
  -webkit-order: 1;
  order: 1;
  transition: all 0.3s;
  margin-left: 5px;
  font-size: 1rem !important;
}
.btn-primary-outline-2:hover {
  background-color: inherit;
  color: #274abb;
}
.btn-primary-outline-2:focus {
  background-color: inherit;
  color: #274abb;
}
.btn-primary-outline-2:active {
  background-color: inherit;
  color: #274abb;
}
.btn-primary-outline-2:hover .mbr-iconfont-btn {
  margin-left: 8px;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #274abb;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  background: none;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #274abb;
  border-bottom-color: #274abb;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #274abb !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #25c4ca !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23274abb' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rzMUoQcbmt .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-rzMUoQcbmt .navbar-fixed-top {
  padding-top: 0;
}
.cid-rzMUoQcbmt .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-rzMUoQcbmt .dropdown-item {
  padding: 0;
}
.cid-rzMUoQcbmt .dropdown-menu {
  border: 0px solid lightgray;
  background: #d63d3d !important;
}
.cid-rzMUoQcbmt .menu-content-top {
  max-width: 1200px;
  display: none;
  padding: 0 2rem;
  margin: auto;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-rzMUoQcbmt .menu-bottom {
  margin: auto;
  width: 100%;
  background: #d63d3d;
  display: flex;
  padding: 0 2rem;
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzMUoQcbmt .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rzMUoQcbmt a {
  font-style: normal;
}
.cid-rzMUoQcbmt .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-rzMUoQcbmt .nav-item a {
  padding: 0.5rem 0 !important;
  margin: 0 .5rem !important;
}
.cid-rzMUoQcbmt .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzMUoQcbmt .content-text {
  margin-bottom: 0;
}
.cid-rzMUoQcbmt .navbar-nav {
  position: relative;
  min-height: 49px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-rzMUoQcbmt .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #274abb;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-rzMUoQcbmt .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-rzMUoQcbmt .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-rzMUoQcbmt .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-rzMUoQcbmt .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rzMUoQcbmt .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rzMUoQcbmt .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-rzMUoQcbmt .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzMUoQcbmt .nav-dropdown .link {
  font-weight: 400;
}
.cid-rzMUoQcbmt .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-rzMUoQcbmt .content-right-side {
  text-align: center;
}
.cid-rzMUoQcbmt .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-rzMUoQcbmt .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-rzMUoQcbmt .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-rzMUoQcbmt .info-widget {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 3rem;
  border-left: 1px solid #e0e0e0;
}
.cid-rzMUoQcbmt .menu-content-right {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzMUoQcbmt .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-rzMUoQcbmt .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-rzMUoQcbmt .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-rzMUoQcbmt .widget-content .widget-title {
  font-weight: 600;
  margin-bottom: 7px;
}
.cid-rzMUoQcbmt .widget-content .widget-text {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .cid-rzMUoQcbmt .navbar .menu-content-top {
    display: flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-rzMUoQcbmt .content-right-side {
    text-align: right;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rzMUoQcbmt .menu-content-top {
    border-bottom: 0px solid #e0e0e0;
  }
  .cid-rzMUoQcbmt .navbar {
    display: block;
    padding: 0;
  }
  .cid-rzMUoQcbmt .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rzMUoQcbmt .navbar:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 4rem - 4.5rem);
  }
  .cid-rzMUoQcbmt .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-rzMUoQcbmt .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-rzMUoQcbmt .navbar-toggler {
    display: none;
  }
  .cid-rzMUoQcbmt .navbar-collapse {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rzMUoQcbmt .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-rzMUoQcbmt .btn {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzMUoQcbmt .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-rzMUoQcbmt .menu-logo {
  margin-right: auto;
}
.cid-rzMUoQcbmt .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzMUoQcbmt .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rzMUoQcbmt .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rzMUoQcbmt .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rzMUoQcbmt .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rzMUoQcbmt .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rzMUoQcbmt .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-rzMUoQcbmt .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-rzMUoQcbmt .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rzMUoQcbmt .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rzMUoQcbmt .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-rzMUoQcbmt .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rzMUoQcbmt .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzMUoQcbmt .dropdown .dropdown-menu .dropdown-item::after {
  right: -0.5rem;
}
.cid-rzMUoQcbmt .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rzMUoQcbmt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rzMUoQcbmt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzMUoQcbmt .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rzMUoQcbmt .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rzMUoQcbmt .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-rzMUoQcbmt .navbar.navbar-short {
  min-height: 50px;
  transition: all .2s;
}
.cid-rzMUoQcbmt .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rzMUoQcbmt .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rzMUoQcbmt .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rzMUoQcbmt .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rzMUoQcbmt button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  margin: 1rem .8rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rzMUoQcbmt button.navbar-toggler:focus {
  outline: none;
}
.cid-rzMUoQcbmt button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rzMUoQcbmt button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rzMUoQcbmt button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rzMUoQcbmt button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rzMUoQcbmt button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rzMUoQcbmt nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzMUoQcbmt nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rzMUoQcbmt nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rzMUoQcbmt nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzMUoQcbmt .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rzMUoQcbmt .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rzMUoQcbmt .collapsed .btn {
  display: flex;
}
.cid-rzMUoQcbmt .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rzMUoQcbmt .collapsed .navbar-collapse.collapsing,
.cid-rzMUoQcbmt .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rzMUoQcbmt .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rzMUoQcbmt .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rzMUoQcbmt .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rzMUoQcbmt .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rzMUoQcbmt .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rzMUoQcbmt .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.cid-rzMUoQcbmt .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rzMUoQcbmt .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rzMUoQcbmt .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rzMUoQcbmt .collapsed button.navbar-toggler {
  display: block;
}
.cid-rzMUoQcbmt .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-rzMUoQcbmt .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rzMUoQcbmt .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rzMUoQcbmt .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rzMUoQcbmt .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rzMUoQcbmt .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-rzMUoQcbmt .collapsed .menu-bottom {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-rzMUoQcbmt .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rzMUoQcbmt .navbar-collapse.collapsing,
  .cid-rzMUoQcbmt .navbar-collapse.show {
    display: block !important;
  }
  .cid-rzMUoQcbmt .navbar-collapse.collapsing .navbar-nav,
  .cid-rzMUoQcbmt .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rzMUoQcbmt .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rzMUoQcbmt .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rzMUoQcbmt .navbar-collapse.collapsing .navbar-buttons,
  .cid-rzMUoQcbmt .navbar-collapse.show .navbar-buttons {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .cid-rzMUoQcbmt .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rzMUoQcbmt .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rzMUoQcbmt .menu-bottom {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-rzMUoQcbmt img {
    height: 3.8rem !important;
  }
  .cid-rzMUoQcbmt .btn {
    display: flex;
  }
  .cid-rzMUoQcbmt button.navbar-toggler {
    display: block;
  }
  .cid-rzMUoQcbmt .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-rzMUoQcbmt .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rzMUoQcbmt .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rzMUoQcbmt .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rzMUoQcbmt .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rzMUoQcbmt .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
  .cid-rzMUoQcbmt .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-rzMUoQcbmt .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-rzMUoQcbmt .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-rzMUoQcbmt .nav-link:focus {
  outline: none;
}
.cid-rzMUoQcbmt .navbar-toggler {
  position: relative;
}
.cid-rzMUoQcbmt .dropdown-item.active,
.cid-rzMUoQcbmt .dropdown-item:active {
  background: #d63d3d;
  color: initial;
}
.cid-rzMUppQFtw {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-rzMUppQFtw .form-group {
  text-align: left;
  min-height: 0px;
  border: 0px solid #CCC;
  border-radius: 5px;
}
.cid-rzMUppQFtw .jq-selectbox li.selected {
  background-color: #3b5abb;
}
.cid-rzMUppQFtw .jq-selectbox li:hover {
  background-color: #3b5abb;
}
.cid-rzMUppQFtw .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #3b5abb;
}
.cid-rzMUppQFtw .form-control {
  padding: 0;
}
.cid-rzMUppQFtw .form-control[name="message"] {
  padding: 20px 25px;
}
.cid-rzMUppQFtw .form-control[name="message"]:focus {
  outline: none;
  box-shadow: 0;
}
.cid-rzMUppQFtw .form-control[name="message"]:active {
  outline: none;
  box-shadow: 0;
}
.cid-rzMUppQFtw .mbr-iconfont-btn {
  margin: 0;
}
.cid-rzMUppQFtw .jq-selectbox__dropdown {
  top: 65px!important;
}
.cid-rzMUppQFtw .input-group-btn .btn {
  margin: 0;
  padding: 1.1rem 20px;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .cid-rzMUppQFtw .align-left {
    text-align: center;
  }
  .cid-rzMUppQFtw .form-group {
    margin-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .cid-rzMUppQFtw .input-group-btn {
    margin: auto;
  }
}
.cid-rzMUravx16 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rzMUravx16 .card-title {
  line-height: 1.6;
  padding: 15px 25px;
  background: linear-gradient(to top, #333333, transparent);
  margin: 0;
}
.cid-rzMUravx16 .card {
  margin-bottom: 2rem;
  owerflow: hidden;
}
.cid-rzMUravx16 .card-wrapper {
  overflow: hidden;
  position: relative;
}
.cid-rzMUravx16 .card-wrapper:hover .card-box {
  bottom: 0;
}
.cid-rzMUravx16 .card-img {
  overflow: hidden;
  position: relative;
}
.cid-rzMUravx16 .p-box {
  background-color: #274abb;
  width: 100%;
  padding: 10px;
}
.cid-rzMUravx16 .card-box {
  position: absolute;
  overflow: hidden;
  width: 100%;
  bottom: -92px;
  left: 0;
  padding: 0px;
  transition: all 0.3s;
}
.cid-rzMUravx16 .card-box p {
  display: inline-block;
  padding: 15px;
  margin: 0;
  line-height: 1.2;
}
.cid-rzMUravx16 .mbr-section-title {
  color: #656565;
}
@media (max-width: 991px) {
  .cid-rzMUravx16 .card-box {
    bottom: 0px;
  }
  .cid-rzMUravx16 .p-box {
    padding: 0px;
  }
  .cid-rzMUravx16 .card-title {
    padding: 10px 15px;
  }
}
.cid-rzMUsJMWF5 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rzMUsJMWF5 .card-img span {
  color: #ffffff;
  font-size: 5.5rem;
}
.cid-rzMUsJMWF5 .mbr-text {
  color: #cccccc;
}
.cid-rzMUsJMWF5 .border-r {
  border-right: 1px solid #656565;
}
.cid-rzMUsJMWF5 p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-rzMUsJMWF5 .border-r {
    border-right: 0px solid #656565;
  }
}
@media (max-width: 576px) {
  .cid-rzMUsJMWF5 .card {
    margin-bottom: 2rem;
  }
}
.cid-rzMUuCByZc {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rzMUuCByZc .card-title {
  line-height: 1.6;
  margin: 0;
  text-align: center;
}
.cid-rzMUuCByZc .card {
  margin-bottom: 2rem;
  owerflow: hidden;
  max-height: 250px;
}
.cid-rzMUuCByZc .card:hover .card-img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.cid-rzMUuCByZc .card:hover .card-wrapper:before {
  opacity: 0.8;
  background: #274abb;
}
.cid-rzMUuCByZc .card-wrapper {
  overflow: hidden;
  position: relative;
}
.cid-rzMUuCByZc .card-wrapper:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  background: #232323;
  opacity: 0.4;
  z-index: 10;
  pointer-events: none;
}
.cid-rzMUuCByZc .big {
  margin-top: -25%;
}
.cid-rzMUuCByZc .card-img {
  overflow: hidden;
  transition: transform 0.3s;
  position: relative;
}
.cid-rzMUuCByZc .card-box {
  position: absolute;
  overflow: hidden;
  height: fit-content;
  margin: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 100;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rzMUuCByZc .mbr-section-title {
  color: #656565;
  text-align: center;
}
.cid-rzMUuCByZc .card-sub-title {
  text-align: center;
}
@media (max-width: 991px) {
  .cid-rzMUuCByZc .small {
    margin-top: -25%;
  }
}
.cid-rzMUuCByZc .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-rzMUvKybQX {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rzMUvKybQX .mbr-section-title {
  text-align: center;
}
.cid-rzMUvKybQX .mbr-text,
.cid-rzMUvKybQX .mbr-section-btn {
  text-align: center;
}
.cid-rzMUxuJfwp {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rzMUxuJfwp .mbr-section-title {
  letter-spacing: 0.1em;
  color: #444444;
  margin-bottom: 2rem;
}
.cid-rzMUxuJfwp .mbr-section-subtitle {
  color: #444444;
  margin-bottom: 2rem;
  letter-spacing: 0.03em;
}
.cid-rzMUxuJfwp .list-img {
  width: 100px;
}
.cid-rzMUxuJfwp .ico2 {
  color: #656565;
  font-size: 1.2rem;
}
.cid-rzMUxuJfwp .btn {
  margin: 0px !important;
}
.cid-rzMUxuJfwp .text-box {
  padding: 1rem;
}
.cid-rzMUxuJfwp .text-box p {
  margin: 0;
}
.cid-rzMUxuJfwp .ico-box {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0px;
}
.cid-rzMUxuJfwp .ico-box p {
  margin: 0;
}
.cid-rzMUxuJfwp .second-col {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzMUxuJfwp .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzMUxuJfwp .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-rzMUxuJfwp .carousel-item .wrap-img {
  text-align: center;
}
.cid-rzMUxuJfwp .carousel-item .wrap-img img {
  width: auto;
  max-width: 100%;
}
.cid-rzMUxuJfwp .carousel {
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 100%;
}
.cid-rzMUxuJfwp .carousel-indicators {
  display: block;
  position: relative;
  margin-top: 1rem;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}
.cid-rzMUxuJfwp .carousel-indicators li {
  display: inline-block;
}
.cid-rzMUxuJfwp .carousel-indicators li {
  max-width: 15%;
  max-height: 120px;
  width: 15%;
  height: 120px;
  border-radius: 0;
  opacity: 1;
  background-size: cover;
  border: none;
}
.cid-rzMUxuJfwp .carousel-indicators li.active {
  border: 0px;
}
.cid-rzMUxuJfwp .li1 {
  background-image: url("../../../assets/images/01.jpg");
}
.cid-rzMUxuJfwp .li2 {
  background-image: url("../../../assets/images/02.jpg");
}
.cid-rzMUxuJfwp .li3 {
  background-image: url("../../../assets/images/03.jpg");
}
.cid-rzMUxuJfwp .li4 {
  background-image: url("../../../assets/images/01.jpg");
}
.cid-rzMUxuJfwp .li5 {
  background-image: url("../../../assets/images/02.jpg");
}
.cid-rzMUxuJfwp .li6 {
  background-image: url("../../../assets/images/03.jpg");
}
@media (max-width: 992px) {
  .cid-rzMUxuJfwp .carousel-indicators li {
    max-width: 30%;
    max-height: 120px;
    width: 30%;
    height: 120px;
  }
}
@media (max-width: 576px) {
  .cid-rzMUxuJfwp .carousel-indicators li {
    max-width: 30%;
    max-height: 80px;
    width: 30%;
    height: 80px;
  }
}
.cid-rzMUxuJfwp .card-title2 {
  color: #274abb;
}
.cid-rzMUxuJfwp .sq {
  color: #656565;
}
.cid-rzMUxuJfwp .item {
  color: #656565;
}
.cid-rzMV9hwwbh {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f1f1f1;
}
.cid-rzMV9hwwbh .title {
  background: #ffffff;
  width: fit-content;
  display: inline-block;
  padding: 1rem 2rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08);
}
.cid-rzMV9hwwbh .mbr-section-subtitle {
  color: #9e9e9e;
  text-align: center;
}
.cid-rzMV9hwwbh p {
  margin: 0;
  padding: 0;
}
.cid-rzMV9hwwbh .card {
  margin-bottom: 2rem;
}
.cid-rzMV9hwwbh .card-block {
  letter-spacing: 0.03em;
  position: relative;
  background: #ffffff;
  color: #444444;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08);
  padding: 2rem;
}
.cid-rzMV9hwwbh .card-block:before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 0;
  left: 30px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-top: 15px solid #ffffff;
  border-right: 15px solid transparent;
}
.cid-rzMV9hwwbh .mbr-author-img {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  margin-left: 0rem;
  margin-right: 1.5rem;
}
.cid-rzMV9hwwbh .mbr-author-img img {
  width: 100%;
  border-radius: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-rzMV9hwwbh .name-wrap {
  display: inline-block;
}
.cid-rzMV9hwwbh .card-footer {
  margin-top: 1rem;
  display: flex;
  border-top: none;
  background: none;
  padding: .75rem 1.25rem 1.25rem 1.25rem;
}
.cid-rzMV9hwwbh .mbr-author-desc {
  color: #9e9e9e;
}
.cid-rzMV9hwwbh .card-block P {
  color: #9e9e9e;
}
.cid-rzMV9hwwbh .mbr-author-name {
  color: #506ab9;
}
.cid-rzMV9hwwbh .mbr-section-title,
.cid-rzMV9hwwbh .title DIV {
  color: #232323;
  text-align: center;
}
.cid-rzMVaJ2jRV {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rzMVaJ2jRV .google-map {
  height: 25rem;
  position: relative;
}
.cid-rzMVaJ2jRV .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rzMVaJ2jRV .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rzMVaJ2jRV .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rzMVaJ2jRV .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-rzMVaJ2jRV .container-fluid {
  padding: 0;
}
.cid-rzMVaJ2jRV .relative {
  position: relative;
  width: 100%;
}
.cid-rzMVaJ2jRV .mbr-section-title {
  color: #656565;
}
.cid-rzMVaJ2jRV .block {
  background: rgba(50, 50, 50, 0.8);
  position: absolute;
  padding: 2rem;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  width: 400px;
  height: 100%;
  top: 0;
  right: 0;
}
.cid-rzMVaJ2jRV .line {
  height: 3px;
  width: 60px;
  background: #ffffff;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.cid-rzMVaJ2jRV .title {
  text-align: center;
  color: #ffffff;
}
.cid-rzMVaJ2jRV .text {
  text-align: center;
  color: #ffffff;
  line-height: 1.5;
}
@media (max-width: 576px) {
  .cid-rzMVaJ2jRV .block {
    position: relative;
    width: 100%;
    height: auto;
    padding: 6rem 2rem;
  }
}
.cid-rzMVcsUdfO {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rzMVcsUdfO .listico {
  padding-right: 1rem;
  color: #656565;
  font-size: 0.9rem;
}
.cid-rzMVcsUdfO .navbar-logo {
  width: 80px;
  margin-bottom: 10px;
}
.cid-rzMVcsUdfO .navbar-brand {
  width: 100%;
  margin: 0;
}
.cid-rzMVcsUdfO .mbr-text {
  color: #444;
}
.cid-rzMVcsUdfO h5 {
  margin-bottom: 0;
}
.cid-rzMVcsUdfO .list-item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzMVcsUdfO .socicon {
  color: #9e9e9e;
  font-size: 1.2rem;
}
.cid-rzMVcsUdfO .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.cid-rzMVcsUdfO .social-list .soc-item {
  margin: 0 .5rem;
  display: inline-block;
}
.cid-rzMVcsUdfO .social-list a {
  margin: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rzMVcsUdfO .social-list a:hover {
  opacity: .4;
}
.cid-rzMVcsUdfO .media-container-row > div {
  padding: 0px;
}
.cid-rzMVcsUdfO .text2 {
  color: #9e9e9e;
  text-align: left;
}
.cid-rzMVcsUdfO .group-title {
  text-align: left;
}
.cid-rzMVcsUdfO .group-title SPAN {
  color: #656565;
}
.cid-rzMVcsUdfO .links {
  color: #9e9e9e;
}
@media (max-width: 991px) {
  .cid-rzMVcsUdfO .col-sm-12 {
    margin-bottom: 2rem;
  }
  .cid-rzMVcsUdfO h3 {
    margin-bottom: 10px;
  }
}
.cid-rzMVcsUdfO .links SPAN {
  color: #9e9e9e;
}
